{% extends 'base.html' %}
{%block conteudo%}
<div class="container mt-5">
  <h1>Criação de Evento</h1>
  <form action="#" method="post">
    <div class="mb-3">
      <label for="valor" class="form-label">Valor</label>
      <input type="number" class="form-control" id="valor" name="valor" required>
    </div>

    <div class="mb-3">
      <label for="vagas_disponiveis" class="form-label">Vagas Disponiveis</label>
      <input type="number" class="form-control" id="vagas_disponiveis" name="vagas_disponiveis" required>
    </div>

    <div class="mb-3">
      <label for="data" class="form-label">Data</label>
      <input type="date" class="form-control" id="data" name="data" required>
    </div>

    <button type="submit" class="btn btn-primary">Criar Evento</button>
  </form>
</div>
{%endblock%}