{% extends 'base.html' %}

{% block conteudo %}
<div class="container mt-5">
    <h1>Eventos Disponíveis</h1>
    <form method="get" class="mb-4">
        <label for="data" class="form-label">Selecione a data:</label>
        <input type="date" class="form-control" id="data" name="data" value="{{ data_selecionada|date:'Y-m-d' }}">
        <button type="submit" class="btn btn-primary mt-2">Filtrar</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Atividade</th>
                <th>Valor</th>
                <th>Vagas Disponíveis</th>
                <th>Data</th>
                <th>Ação</th> <!-- Coluna para o botão de inscrição -->
            </tr>
        </thead>
        <tbody>
            {% for evento in eventos %}
            <tr>
                <td>{{ evento.nome }}</td>
                <td>{{ evento.atividade.nome }}</td>
                <td>R$ {{ evento.valor }}</td>
                <td>{{ evento.vagas_disponiveis }}</td>
                <td>{{ evento.data }}</td>
                <td>
                    <!-- Formulário de Inscrição -->
                    <form action="{% url 'inscricao' %}" method="POST" style="display: inline-block;" id="form-{{ evento.id }}">
                        {% csrf_token %}
                        <input type="hidden" name="evento_id" value="{{ evento.id }}">
                        <input type="hidden" name="usuario_id" value="{{ usuario_id }}">
                        <button type="button" class="btn btn-success btn-sm" onclick="logIds('{{ evento.id }}', '{{ usuario_id }}')">Inscrever-se</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function logIds(eventoId, usuarioId) {
        console.log("ID do Evento: " + eventoId);
        console.log("ID do Usuário: " + usuarioId);

        var form = document.getElementById('form-' + eventoId);
        form.submit(); // Envia o formulário
    }
</script>
{% endblock %}
